body {
  background-color: #d1bfa7;
  
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

a:link {color: #49494b;}
a.visited {color: #49494b;}
a.hover {color: #bd8c7d;}


 h1 {
  font-size: 20px;
  font: #fff;
  font-family: 'Montserrat', sans-serif;

 }

 .scrollable-element {
   scrollbar-color: light;

 }
 
 .jumbotron {
  background-image: url("./images/bgp.png");
  background-color: #d1bfa7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18vh;
}
.hero {
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
  font-weight: bold;
  font: #d1bfa7;
  
}

#intro-2 {
  width: 400px;
  padding-top: 1em;
  padding: 3em;
  
}

#projects {
  padding-top: 1em;
}

.about {
  font-size: 40px;
  font: #fff;
  font-family: 'Nixie One', cursive;
  
}

.footer {
  font-size: 20px;
  font: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
}

#about-me {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

