body {
  background-color: #d1bfa7;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 .jumbotron {
  background-image: url("./images/bg.jpg");
  background-color: #d1bfa7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1050px 387px;
  height: 50vh;
}

#about-me {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.about {
  font-size: 40px;
  font: #fff;
  font-family: 'Nixie One', cursive; 
}

#projects {
  background-color: #8e8e90;
  font-family: 'Open Sans Condensed', sans-serif;
  
  font-size: 30px;
  padding-bottom: .5em;
}

.proj {
  font-family: 'Open Sans Condensed', sans-serif;
  
  font-size: 19px;
}



.footer {
  font-size: 20px;

  font-family: 'Stint Ultra Condensed', cursive;
  padding-bottom: 1em;
}

h6 {
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
 }

